
.images{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
  

.time-wifi-battery{
  width: 10px;
  height: 12px;
  display: flex;
  justify-content: space-between;
  
}
.wifi-battery{
  float:right;
  margin-right: 20px;
}

#headline {
  width: 375px;
  height: 700px;
  margin: 0 auto;
  background-image: url(./images/header-shapes\ mobile@2x.svg);
  border-bottom-left-radius: 80px;
}

body.active {
  overflow-y: hidden;
}

.header {
  background-image: url();
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: var(--header-color);
  padding: 128px 24px 0;
}

.portfolio-description {
  font-size: 16px;
  line-height: 24px;
  color: var(--paragraph-color);
  margin: 12px 24px;
}

.lets-connect {
  font-size: 16px;
  font-weight: 500;
  color: #7F8CFF;
  margin-left: 24px;
  margin-bottom: 12px;
}

.social-media-links {
  width: 160px;
  display: flex;
  justify-content: space-between;
  margin-left: 24px;
  padding-left: 0;
  list-style-type: none;
  animation: width-change 1s ease-in-out 0.5s 1;
}

@keyframes width-change {
  from {
    width: 250px;
  }

  to {
    width: 160px;
  }
}

.social-media-link {
  color: #505f79;
  text-decoration: none;
}

.social-media-link i:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}


